<!doctype html>
<html id="idHtml" lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link defer rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fonts Google -->
    <link defer href="https://fonts.googleapis.com/css?family=Eczar:400,600|Anton" rel="stylesheet">

    <link defer rel="stylesheet" href="/public/assets/css/hover-min.css">
    <link defer rel="stylesheet" href="/public/assets/css/hover.css">
    <link defer rel="stylesheet" href="/public/assets/css/custom.css" type="text/css" >
    <link defer rel="stylesheet" href="/public/assets/css/pausadocafe.css" type="text/css" >

    <title>Pausa do Café</title>
  </head>
  <body>
    
    <div id="header-bar" class="container-fluid"><!-- CONTAINER FULL WIDTH    -->
        <div class="row p-3 p-3"><!-- ROW    -->
            <div class="col-md-12 d-flex justify-content-center">
                <a href="">
                    <h1 class="text-light hvr-shrink">
                        <i class="fas fa-mug-hot"></i>Pausa do Café
                    </h1>
                </a>
            </div>
        </div>
        <div class="row p-4"><!-- ROW    -->
            <div class="col-md-12"><!-- COL-MD-12    -->
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand d-sm-flex d-md-none" href="#">Menu</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label=" Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link hvr-float-shadow" href="">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link hvr-float-shadow" href="">Must See</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link hvr-float-shadow" href="">Did You Know?</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link hvr-float-shadow" href="">Plastics</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link hvr-float-shadow" href="">Money</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link hvr-float-shadow" href="">Politics</a>
                        </li>
                        <li class="nav-item  active dropdown">
                            <a class="nav-link  hvr-float-shadow dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="">Esportes</a>
                                <a class="dropdown-item" href="">Famosos</a>
                                <a class="dropdown-item" href="">Economia</a>
                            </div>
                        </li>   
                    </ul>
                  </div>
                </nav>
            </div><!-- COL-MD-12    -->
        </div><!-- ROW    -->
    </div><!-- CONTAINER FULL WIDTH    --><div id="first-panel" class="container">
        <div class="row"><!-- HEADING NEWS -->
            <div class="col-sm-12 col-md-8 heading-news">

                <h2>LATEST NEWS</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-6 content-first-panel">
                        <a href="">
                            <img src="public/assets/img/news-futebol-01.png" style="height: auto; width: 100%">
                            <h4 id="title-heading-news-01" class="toupper">SELEÇÃO SUB-20 EM CRISE?</h4>
                        </a>
                    </div>
                    <div class=" col-sm-12 col-md-6 content-first-panel" >
                        <a href="">
                            <img src="public/assets/img/news-futebol-02.png" style="height: auto; width: 100%">
                            <h4 id="title-heading-news-02" class="toupper">VINICIUS JR. DESTRÓI EM MADRID</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div id="add-quadrado-01" class="col-sm-8  col-md-4 mb-2">
                <a href=""><img id="add-quadrado-01-img"src="public/assets/img/add-quadrado.png" ></a>
            </div>
        </div><!-- HEADING NEWS -->
        <div class="row mt-2"><!-- LATEST NEWS -->
            <div class="col-sm-12 col-md-8 latest-news">
                <table id="table-ln-screen" class="d-none d-md-block table responsive ">
                    <thead>
                        <tr>
                            <th scope="col">Esportes</th>
                            <th scope="col">Famosos</th>
                            <th scope="col">Economia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="lt-n-esportes">
                                <a href=""><li>Gabriel Jesus volta a marcar e Manchester City goleia Burnley</li></a></td>
                            <td class="lt-n-famosos">
                                <a href="noticia.php?title=Tudo em família: famosos que são parentes e talvez você não saiba"><li>Tudo em família: famosos que são parentes e talvez você não saiba</li></a>
                            </td>
                            <td class="lt-n-economia">
                                <a href=""><li>Contas de luz continuam sem tarifa extra em fevereiro, informa Aneel</li></a>
                            </td>
                            </tr>
                        <tr>
                            <td class="lt-n-esportes">
                                <a href=""><li>Buscas por avião em que Emiliano Sala estava são retomadas com ajuda de doações</li></a>
                            </td>
                            <td class="lt-n-famosos">
                                <a href=""><li>Kéfera se emociona em festa surpresa durante gravações de 'Espelho da Vida'</li></a>
                            </td>
                            <td class="lt-n-economia">
                                <a href=""><li>Incerteza política afeta perspectivas econômicas da América Latina</li></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="lt-n-esportes">
                                <a href=""><li>Torcedores do Santa Cruz fazem versão do "Piscininha, amor"</li></a>
                            </td>
                            <td class="lt-n-famosos">
                                <a href=""><li>Vegana, Anitta comemora perda de peso</li></a>
                            </td>
                            <td class="lt-n-economia">
                                <a href=""><li>Ações da Vale nos EUA recuam mais de 8% após acidente</li></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="table-ln-mobile-esportes" class="d-md-none table responsive ">
                    <thead>
                        <tr>
                            <th scope="col">Esportes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="lt-n-esportes">
                                <a href=""><li>Gabriel Jesus volta a marcar e Manchester City goleia Burnley</li></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="lt-n-esportes">
                                <a href=""><li>Buscas por avião em que Emiliano Sala estava são retomadas com ajuda de doações</li></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="lt-n-esportes">
                                <a href=""><li>Torcedores do Santa Cruz fazem versão do "Piscininha, amor"</li></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="table-ln-mobile-famosos" class="d-md-none table responsive ">
                    <thead>
                        <tr>
                            <th scope="col">Famosos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="lt-n-famosos">
                                <a href=""><li>Tudo em família: famosos que são parentes e talvez você não saiba</li></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="lt-n-famosos">
                                <a href=""><li>Kéfera se emociona em festa surpresa durante gravações de 'Espelho da Vida'</li></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="lt-n-famosos">
                                <a href=""><li>Vegana, Anitta comemora perda de peso</li></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="table-ln-mobile-economia" class="d-md-none table responsive ">
                    <thead>
                        <tr>
                            <th scope="col">Economia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="lt-n-economia">
                                <a href=""><li>Contas de luz continuam sem tarifa extra em fevereiro, informa Aneel</li></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="lt-n-economia">
                                <a href=""><li>Incerteza política afeta perspectivas econômicas da América Latina</li></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="lt-n-economia">
                                <a href=""><li>Ações da Vale nos EUA recuam mais de 8% após acidente</li></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="latest-news-left-panel" class="col-sm-12  col-md-4 mb-2">
                <h2 >Você sabia?</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <img src="public/assets/img/news-famosos-01.png" style="height: auto; width: 100%">
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <a href="">
                            <h4>Gabriel Diniz revela o que a 'Jenifer' faz!</h4>
                            <p>Nos bastidores o cantor também fala sobre o que mudou na sua vida</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <img src="public/assets/img/news-famosos-02.png" style="height: auto; width: 100%">
                    </div>
                    
                    <div class="col-sm-6 col-md-6">
                        <a href="">
                            <h4>Tudo em familia: Famosos parentes</h4>
                            <p>Será que talento é coisa de família?! Veja 20 famosos que são parentes!</p>
                        </a>
                    </div>
                    
                </div>
                
            </div>
        </div><!-- LATEST NEWS -->
    </div>

    <div  id="second-panel" class="container-fluid">
        <div class="row">
            <div id="add-horizontal-01" class="col-md-12 ">
                <a href=""><img src="public/assets/img/add-horizontal.png" class=" pt-4 pb-4 card-img-top image-fluid" alt="Before and After Actors"></a>
            </div>
        </div>
    </div>

    <div id="third-panel" class="container"><!-- CONTAINER BODY 3 PANEL -->
        <div class="row mt-4">
            <div class="col-sm-12 col-md-8">
                <div class="row horizontal-news"><!-- HORIZONTAL NEWS 01 -->
                    <div class="col-sm-4 col-md-4 img-column    ">
                        <img src="public/assets/img/news-nacional-01.png" style="width: 100%; height: auto;">
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <a href="">
                            <h4>Infográfico mostra caminho da lama e o que foi destruído:</h4>
                            <li>O rompimento de uma barragem da Vale em Brumadinho (MG) na sexta-feira (25) causou a destruição da área administrativa da empresa, casas e propriedades da região.</li>
                        </a>
                    </div>
                </div><!-- HORIZONTAL NEWS 01 -->
                <div class="row horizontal-news"><!-- HORIZONTAL NEWS 02 -->
                    <div class="col-sm-4 col-md-4 img-column    ">
                        <img src="public/assets/img/news-internacional-01.png" style="width: 100%; height: auto;">
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <a href="">
                            <h4>'Lenços vermelhos' protestam na França</h4>
                            <li>Integrantes do movimento afirmam protestar 'contra violência' e 'à favor da República'. Aliados de Emmanuel Macron participaram da passeata.</li>
                        </a>
                    </div>
                </div><!-- HORIZONTAL NEWS 02 -->
                <div class="row horizontal-news"><!-- HORIZONTAL NEWS 03 -->
                    <div class="col-sm-4 col-md-4 img-column    ">
                        <img src="public/assets/img/news-famosos-03.png" style="width: 100%; height: auto;">
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <a href="">
                            <h4>Top 20 atores que realizaram procedimentos estéticos e você nem imagina!</h4>
                            <li>É praticamente normal acreditar que as atrizes de Hollywood realizem procedimentos estétícos para melhorar suas aparências. Porém fica um pouco diferente quando se trata de atores.</li>
                        </a>
                    </div>
                </div><!-- HORIZONTAL NEWS 03 -->
                <div class="row horizontal-news"><!-- HORIZONTAL NEWS 04 -->
                    <div class="col-sm-4 col-md-4 img-column    ">
                        <img src="public/assets/img/news-famosos-04.png" style="width: 100%; height: auto;">
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <a href="">
                            <h4>Top 20 atores que nunca foram casados que irão te surpreender</h4>
                            <li>Algumas das celebridades mais famosas do mundo nunca se casaram. Por não acreditarem na instituição do amor ou simplesmente não terem encontrado suas almas gemeas, estes 20 ainda estão na pista</li>
                        </a>
                    </div>
                </div><!-- HORIZONTAL NEWS 04 -->
            </div>
            <div class="col-sm-12 col-md-4">
                <div id="second-right-panel" class="row">
                    <div class="col-md-12">
                        <h2 id="second-right-panel-title">MAIS LIDAS</h2>
                        <ol>
                            <a href=""><li>Menino que caiu em poço é encontrado morto na Espanha</li></a>
                            <a href=""><li>Tragédia em Brumadinho: 58 mortes confirmadas, 19 corpos identificados</li></a>
                            <a href=""><li>Antes e depois: veja imagens do rompimento de barragem da Vale em Brumadinho, MG</li></a>
                            <a href=""><li>Justiça de MG determina bloqueio de R$ 1 bilhão da Vale após desastre em Brumadinho</li></a>
                            <a href=""><li>2º dia de buscas em Brumadinho: bombeiros retomam trabalhos após rompimento de barragem</li></a>   
                        </ol>
                        <a href=""><img id="add-quadrado-01-img"src="public/assets/img/add-quadrado-02.png" style="width: 100%; height: auto;" ></a>
                    </div>

                    
                    
                </div>
            </div>
        </div>

        
    </div>

    <div id="fourth-panel" class="container-fluid">
        <div id="contact-bar" class="row" ><!-- CONTAINER BODY ROW -->
            <div class="col-sm-6 col-md-6">
                <a href="">
                    <p><i class="far fa-envelope-open"></i>heber_bega@hotmail.com</p>
                </a>
            </div>
            <div class="col-sm-6 col-md-6">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
            </div>
                
        </div>
            
        <div id="text-bar" class="row " ><!-- CONTAINER BODY ROW -->
            <div class="col-md-12">
                <center>© 2019 · Pausa do Café . Todos os direitos reservados.</center>
            </div>
        </div>
            
    </div><!-- ROW -->
    </div><!-- CONTAINER BODY -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
