/*==============================================*/
/*==============================================*/
		/*Body-Content-Header*/
#news-body {
	margin-top: 2rem;
}

#news-body-title > h2,
#news-body-title > p {
  font-family: Eczar, serif;
  font-weight: 600;
}

#news-body-title > h2{
  border-bottom: 6px solid #C00;
}

#news-body-title > p {
	text-align: justify;
}

/*==============================================*/
/*==============================================*/
		/*Body-Content-Body*/
#news-body-content > img {
	margin-top: 0.5rem;
	width: 90%;
	left: 5%;
	position: relative;
	border-radius: 3px;
}

#news-body-content > h3 {
  	font-family: 'Anton', sans-serif;
  	font-weight: 400;
}

#news-body-content > p {
 	font-family: Eczar, serif;
 	text-align: justify;
}